<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login | Fertig</title>
  <link rel="stylesheet" href="css/login.css" />
</head>
<body>
  <div class="login-container">
    <div class="header">
      <h1>Welcome Back 👋</h1>
      <p class="subtext">Log in to access your personalized question dashboard.</p>
       <p id="welcome-message" class="success-msg"></p>
    </div>

    <h2>Login to Fertig</h2>
    <input type="email" id="email" placeholder="Email" autocomplete="off" />
    <input type="password" id="password" placeholder="Password" autocomplete="off"/>
    <button id="login-btn">Login</button>

    <p class="switch-text">Don't have an account? <a href="signup.html">Create one</a></p>
  </div>
 


  <script src="js/login.js"></script>
</body>
</html>
